<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="main">
        <form [formGroup]="inputForm">
          <div formArrayName="inputValue">
            <div *ngFor="let item of inputData.controls; let pointIndex=index" [formGroupName]="pointIndex">
              <div class="container">
                <div class="row">
                  <div class="form-group mt-2 custom-add col-3">
                    <label for="exampleFormControlTextarea1">Enter your numbers <span
                        (click)="deleteSellingPoint(pointIndex)"><i class="fa fa-close"></i></span></label>
                    <textarea class="form-control" name="userValue" formControlName="input"
                      id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                  <div class="col-9">
                    <div class="card">
                      <div class="container">
                        <div class="row">
                          <div class="col-3">
                            <div class="card-content" *ngFor="let result of finalResult[pointIndex];let i=index">
                              <span *ngIf="result?.count !=1">
                                <h5 class="card-title text-info">{{result?.filterKey}} Count:
                                  {{result?.count}}</h5>
                                <p class="card-text"><span *ngFor="let value of result?.totalValue">{{value}} </span>
                                </p>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="text-left bg-white pb-3 pl-2">
        <button type="button" class="btn btn-info" (click)="addSellingPoint()">Add Input</button>
        <button type="submit" class="btn btn-success ml-3" (click)="getResult()">Get Result</button>
      </div>
    </div>
  </div>
</div>