.container {
    max-width: 100%;
}

.main {
    background-color: #ffffff;
    padding: 10px;
    max-height: 90vh;
    overflow: auto;
    box-shadow: 0 6px 60px 0 rgb(18 26 38 / 15%);
}

.main-container {
    padding: 10px;
    min-height: 90vh;
    max-height: 90vh;
    overflow: auto;
}

.inner-container {
    background-color: #e0e8f3;
    padding: 10px 20px;
    box-shadow: 0 6px 60px 0 rgb(18 26 38 / 5%);
}

.inner-container .col-3 {
    padding: 5px;
}

.custom-add {
    padding: 10px;
    background-color: #e0e8f3;
    box-shadow: 0 6px 60px 0 rgb(18 26 38 / 5%);
}

.inner-container:hover, .custom-add:hover {
    box-shadow: 0 6px 60px 0 rgb(18 26 38 / 10%);
}

.custom-add label {
    width: 100%;
}

.custom-add label span {
    float: right;
    color: red;
    cursor: pointer;
}

.main-container {
    background-color: #ffffff;
}

.fixed-bottom-button {
    position: fixed;
    bottom: 100px;
    left: 50px;
}

.info {
    text-align: center;
    /* top: 30%; */
    /* position: absolute; */
    /* margin: 0px auto; */
    width: 100%;
    vertical-align: middle;
    font-size: 15px;
    padding-top: 15px;
    color: #0000008a;
    min-height: 120px;
}

.info div:first-child {
    font-size: 25px;
}

.list-card {
    text-align: center;
    padding: 15px 10px;
    background: #ffffff;
    border: none;
}

.list-card .card-title {
    margin-bottom: 5px;
    color: #2d2d2d;
    font-size: 15px;
}

.main-card-title {
    padding-bottom: 5px;
    border-bottom: 1px solid #cccccc38;
}

.list-card .card-title span {
    font-weight: 600;
    /* color: #10bf38; */
}

.list-card .card-text {
    font-size: 14px;
    color: #5f5f5f;
}

.custom-scroll {
    height: 200px;
    overflow: auto;
}

.final-result {
    height: 500px !important;
}

.final-result-container {
    height: 500px;
}

.final-col, .final-scroll, .final-inner {
    height: 500px;
}

.card-text-two {
    padding: 10px !important;
}

.p-text {
    color: blue
}

.divTable {
    display: table;
    width: 100%;
}

.divTableRow {
    display: table-row;
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
}

.divTableCell, .divTableHead {
    border: 1px solid #999999;
    display: table-cell;
    padding: 3px 10px;
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}

.divTableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}

.divTableBody {
    display: table-row-group;
}

.tw_in, .thr_in {
    min-width: 33%;
    display: inline-block;
    padding-left: 10px;
}

.tw_in span:first-child, .thr_in span:first-child {
    min-width: 30%;
    display: inline-block;
    text-align: left;
}

.tw_in span:nth-child(2), .thr_in span:nth-child(2) {
    min-width: 10%;
    display: inline-block;
    text-align: center;
}

.tw_in span:last-child, .thr_in span:last-child {
    min-width: 30%;
    display: inline-block;
    text-align: center;
}


.l_thr_in {
    min-width: 33%;
    display: inline-block;
    padding-left: 10px;
}

.l_thr_in span:first-child {
    min-width: 50%;
    display: inline-block;
    text-align: left;
}

.l_thr_in span:nth-child(2) {
    min-width: 10%;
    display: inline-block;
    text-align: center;
}

.l_thr_in span:last-child {
    min-width: 30%;
    display: inline-block;
    text-align: center;
}